In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pyspark as ps
import os

In [3]:
spark = (ps.sql.SparkSession
        .builder
        .master('local[4]')
        .appName('capstone1')
        .getOrCreate()
        )
sc = spark.sparkContext

In [3]:
sc

In [4]:
spark

In [40]:
from pyspark.sql.types import *

schema = StructType([
    StructField('ResponseID', StringType(), True),
    StructField('ExtendedSessionID', StringType(), True),
    StructField('UserID', StringType(), True),
    StructField('ScenarioOrder', IntegerType(), True),
    StructField('Intervention', IntegerType(), True),
    StructField('PedPed', IntegerType(), True),
    StructField('Barrier', IntegerType(), True),
    StructField('CrossingSignal', IntegerType(), True),
    StructField('AttributeLevel', StringType(), True),
    StructField('ScenarioTypeStrict', StringType(), True),
    StructField('ScenarioType', StringType(), True),
    StructField('DefaultChoice', StringType(), True),
    StructField('NonDefaultChoice', StringType(), True),
    StructField('DefaultChoiceOmission', IntegerType(), True),
    StructField('NumberOfCharacters', IntegerType(), True),
    StructField('DiffNumberOfCharacters', IntegerType(), True),
    StructField('Saved', IntegerType(), True),
    StructField('Template', StringType(), True),
    StructField('DescriptionShown', IntegerType(), True),
    StructField('LeftHand', IntegerType(), True),
    StructField('UserCountry3', StringType(), True),
    StructField('Man', IntegerType(), True),
    StructField('Woman', IntegerType(), True),
    StructField('Pregnant', IntegerType(), True),
    StructField('Stroller', IntegerType(), True),
    StructField('OldMan', IntegerType(), True),
    StructField('OldWoman', IntegerType(), True),
    StructField('Boy', IntegerType(), True),
    StructField('Girl', IntegerType(), True),
    StructField('Homeless', IntegerType(), True),
    StructField('LargeWoman', IntegerType(), True),
    StructField('LargeMan', IntegerType(), True),
    StructField('Criminal', IntegerType(), True),
    StructField('MaleExecutive', IntegerType(), True),
    StructField('FemaleExecutive', IntegerType(), True),
    StructField('FemaleAthlete', IntegerType(), True),
    StructField('MaleAthlete', IntegerType(), True),
    StructField('FemaleDoctore', IntegerType(), True),
    StructField('MaleDoctor', IntegerType(), True),
    StructField('Dog', IntegerType(), True),
    StructField('Cat', IntegerType(), True),  
])

In [41]:
df = spark.read.csv('./data/SharedResponses.csv', schema=schema, header=True)

In [42]:
df.printSchema()

root
 |-- ResponseID: string (nullable = true)
 |-- ExtendedSessionID: string (nullable = true)
 |-- UserID: string (nullable = true)
 |-- ScenarioOrder: integer (nullable = true)
 |-- Intervention: integer (nullable = true)
 |-- PedPed: integer (nullable = true)
 |-- Barrier: integer (nullable = true)
 |-- CrossingSignal: integer (nullable = true)
 |-- AttributeLevel: string (nullable = true)
 |-- ScenarioTypeStrict: string (nullable = true)
 |-- ScenarioType: string (nullable = true)
 |-- DefaultChoice: string (nullable = true)
 |-- NonDefaultChoice: string (nullable = true)
 |-- DefaultChoiceOmission: integer (nullable = true)
 |-- NumberOfCharacters: integer (nullable = true)
 |-- DiffNumberOfCharacters: integer (nullable = true)
 |-- Saved: integer (nullable = true)
 |-- Template: string (nullable = true)
 |-- DescriptionShown: integer (nullable = true)
 |-- LeftHand: integer (nullable = true)
 |-- UserCountry3: string (nullable = true)
 |-- Man: integer (nullable = true)
 |-- Woman: integer (nullable = true)
 |-- Pregnant: integer (nullable = true)
 |-- Stroller: integer (nullable = true)
 |-- OldMan: integer (nullable = true)
 |-- OldWoman: integer (nullable = true)
 |-- Boy: integer (nullable = true)
 |-- Girl: integer (nullable = true)
 |-- Homeless: integer (nullable = true)
 |-- LargeWoman: integer (nullable = true)
 |-- LargeMan: integer (nullable = true)
 |-- Criminal: integer (nullable = true)
 |-- MaleExecutive: integer (nullable = true)
 |-- FemaleExecutive: integer (nullable = true)
 |-- FemaleAthlete: integer (nullable = true)
 |-- MaleAthlete: integer (nullable = true)
 |-- FemaleDoctore: integer (nullable = true)
 |-- MaleDoctor: integer (nullable = true)
 |-- Dog: integer (nullable = true)
 |-- Cat: integer (nullable = true)

In [21]:
df.count()

70332355

### Move limited # of rows to a Pandas DF

In [43]:
pdf = df.limit(500).toPandas()

In [44]:
pdf.head()

,ResponseID,ExtendedSessionID,UserID,ScenarioOrder,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,...,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctore,MaleDoctor,Dog,Cat
0,2222bRQqBTZ6dLnPH,32757157_6999801415950060.0,6999801415950060,7,0,0,0,1,Fit,Fitness,...,0,0,0,0,1,2,0,0,0,0
1,2222sJk4DcoqXXi98,1043988516_3525281295.0,3525281295,2,0,0,0,0,Rand,Random,...,0,0,1,0,0,0,0,0,0,0
2,2223CNmvTr2Coj4wp,-1613944085_422160228641876.0,422160228641876,10,0,1,0,1,Female,Gender,...,0,0,0,1,0,0,0,0,0,0
3,2223Xu54ufgjcyMR3,1425316635_327833569077076.0,327833569077076,11,0,0,1,0,Old,Age,...,0,0,0,0,0,0,0,0,0,0
4,2223jMWDEGNeszivb,-1683127088_785070916172117.0,785070916172117,8,0,1,0,2,More,Utilitarian,...,0,1,1,0,1,0,0,0,1,0

In [45]:
pdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 41 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ResponseID              500 non-null    object
 1   ExtendedSessionID       500 non-null    object
 2   UserID                  500 non-null    object
 3   ScenarioOrder           500 non-null    int32
 4   Intervention            500 non-null    int32
 5   PedPed                  500 non-null    int32
 6   Barrier                 500 non-null    int32
 7   CrossingSignal          500 non-null    int32
 8   AttributeLevel          500 non-null    object
 9   ScenarioTypeStrict      500 non-null    object
 10  ScenarioType            500 non-null    object
 11  DefaultChoice           449 non-null    object
 12  NonDefaultChoice        449 non-null    object
 13  DefaultChoiceOmission   449 non-null    float64
 14  NumberOfCharacters      500 non-null    int32
 15  DiffNumberOfCharacters  500 non-null    int32
 16  Saved                   500 non-null    int32
 17  Template                443 non-null    object
 18  DescriptionShown        443 non-null    float64
 19  LeftHand                443 non-null    float64
 20  UserCountry3            495 non-null    object
 21  Man                     500 non-null    int32
 22  Woman                   500 non-null    int32
 23  Pregnant                500 non-null    int32
 24  Stroller                500 non-null    int32
 25  OldMan                  500 non-null    int32
 26  OldWoman                500 non-null    int32
 27  Boy                     500 non-null    int32
 28  Girl                    500 non-null    int32
 29  Homeless                500 non-null    int32
 30  LargeWoman              500 non-null    int32
 31  LargeMan                500 non-null    int32
 32  Criminal                500 non-null    int32
 33  MaleExecutive           500 non-null    int32
 34  FemaleExecutive         500 non-null    int32
 35  FemaleAthlete           500 non-null    int32
 36  MaleAthlete             500 non-null    int32
 37  FemaleDoctore           500 non-null    int32
 38  MaleDoctor              500 non-null    int32
 39  Dog                     500 non-null    int32
 40  Cat                     500 non-null    int32
dtypes: float64(3), int32(28), object(10)
memory usage: 105.6+ KB

In [33]:
pdf.iloc[:5,:20]

,ResponseID,ExtendedSessionID,UserID,ScenarioOrder,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,ScenarioType,DefaultChoice,NonDefaultChoice,DefaultChoiceIsOmission,NumberOfCharacters,DiffNumberOFCharacters,Saved,Template,DescriptionShown,LeftHand
0,2222bRQqBTZ6dLnPH,32757157_6999801415950060.0,6999801415950060,7,0,0,0,1,Fit,Fitness,Fitness,Fit,Fat,1,5,0,1,Desktop,1,1
1,2222sJk4DcoqXXi98,1043988516_3525281295.0,3525281295,2,0,0,0,0,Rand,Random,Random,None,None,None,1,0,1,Desktop,0,1
2,2223CNmvTr2Coj4wp,-1613944085_422160228641876.0,422160228641876,10,0,1,0,1,Female,Gender,Gender,Male,Female,0,4,0,1,Mobile,0,0
3,2223Xu54ufgjcyMR3,1425316635_327833569077076.0,327833569077076,11,0,0,1,0,Old,Age,Age,Young,Old,0,5,0,0,Desktop,1,0
4,2223jMWDEGNeszivb,-1683127088_785070916172117.0,785070916172117,8,0,1,0,2,More,Utilitarian,Utilitarian,More,Less,1,5,2,0,Mobile,0,0

### Create SQL table 'mm'

In [47]:
df.createOrReplaceTempView('mm')

In [48]:
query = '''
SELECT *
FROM mm
LIMIT 10
'''

spark.sql(query).toPandas()

,ResponseID,ExtendedSessionID,UserID,ScenarioOrder,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,...,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctore,MaleDoctor,Dog,Cat
0,2222bRQqBTZ6dLnPH,32757157_6999801415950060.0,6999801415950060,7,0,0,0,1,Fit,Fitness,...,0,0,0,0,1,2,0,0,0,0
1,2222sJk4DcoqXXi98,1043988516_3525281295.0,3525281295,2,0,0,0,0,Rand,Random,...,0,0,1,0,0,0,0,0,0,0
2,2223CNmvTr2Coj4wp,-1613944085_422160228641876.0,422160228641876,10,0,1,0,1,Female,Gender,...,0,0,0,1,0,0,0,0,0,0
3,2223Xu54ufgjcyMR3,1425316635_327833569077076.0,327833569077076,11,0,0,1,0,Old,Age,...,0,0,0,0,0,0,0,0,0,0
4,2223jMWDEGNeszivb,-1683127088_785070916172117.0,785070916172117,8,0,1,0,2,More,Utilitarian,...,0,1,1,0,1,0,0,0,1,0
5,22244vvSZfn4J9Zop,1525185249_1436495773909467.0,1436495773909470,11,0,0,1,0,Low,Social Status,...,0,0,0,0,0,0,0,0,0,0
6,2224H2QBFKNsMmRQc,1661661891_4304873273230329.0,4304873273230330,11,0,1,0,0,Female,Gender,...,0,0,0,1,0,0,1,0,0,0
7,2224YxTZcu4sJqTSD,-887960483_174929057557052.0,174929057557052,6,0,0,0,2,Hoomans,Species,...,0,0,0,0,1,1,0,0,0,0
8,2224g4ytARX4QT5rB,213978760_9992828917431898.0,9992828917431900,7,0,0,1,0,Less,Utilitarian,...,0,0,0,0,1,0,1,0,0,1
9,2224kBG72574tbZD3,737909459_839962439872333.0,839962439872333,12,0,0,1,0,Old,Age,...,0,0,0,0,0,0,0,0,0,0

In [51]:
query = '''
SELECT ScenarioType, DefaultChoice, count(*)
FROM mm
GROUP BY ScenarioType, DefaultChoice

'''

spark.sql(query).toPandas()

    ScenarioType DefaultChoice  count(1)
0            Age         Young  11583880
1        Fitness           Fit  10811634
2           None          None        74
3    Utilitarian          More  12527288
4         Gender          Male  11967330
5         Random          None   7507350
6  Social Status          High   3890417
7        Species       Hoomans  12044382